<%= include_gon if defined? gon && gon.present? %>

<% provide(:title, 'Dashboard') %>

<% if user_signed_in? %> 
  <div class="row">
    <div class="four wide column">fedg
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="twelve wide column ticket-show">
      <%= render 'main' %>
    </div>
  </div>
<% end %>
