<div class="ui segment">
  <div class="ui large feed">
    <div class="event">
      <div class="label">
        <%= image_tag("no-image.png", alt: "noimage") %>
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
            Elliot Fu
          </a> added you as a friend
          <div class="date">
            1 Hour Ago
          </div>
        </div>
        <div class="meta">
          <a class="like">
            <i class="like icon"></i> 4 Likes
          </a>
        </div>
      </div>
    </div>
  </div>    
</div>