<% provide(:title, 'Edit User Profile') %>

<div class="row">
  <div class="four wide column">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="twelve wide column">
    <div class="ui segment">
      <%= render 'edit_form' %>
    </div>
  </div>
</div>
