<% provide(:title, 'Assets') %>

<div class="row">
  <div class="four wide column">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="twelve wide column">
    <%= render 'groups_list' %>
  </div>
</div>
