<% provide(:title, 'Asset categories') %>
<% if logged_in? %>
  <div class="row">
    <div class="four wide column">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="twelve wide column ticket-show">
      <%= render 'asset_locations_list' %>
    </div>
  </div>
<% end %>
