// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tickets_dayofweek{
  width: 100% !important;
  height: 100% !important;
}

#tickets_permonth{
  width: 100% !important;
  height: 100% !important;
}